<%= attachment_image_tag @user, :profile_image, fallback: "no-image-icon.jpg", size: "200x200", class:"effect" %>
<p>ユーザー名: <%= @user.name %></p>
<p>紹介文: <%= @user.profile %></p>
<% if @user.id != current_user.id %>
  <%= render "users/follow_btn", user: @user %>
<% end %>
<% if @user.id == current_user.id %>
  <%= link_to "ユーザー編集", edit_user_path(@user) %>
<% end %>